<header>
    <div class="container">
        <div class="row">
            <div class="col-12 redes-login">
                <div class="redes-login-items">
                    <div class="icon-facebook"></div>
                    <div class="icon-instagram"></div>
                    <div class="icon-whatsapp"></div>
                    <hr>
                    <button mat-raised-button>Iniciar Sesion</button>
                    <button mat-button>Registrarse</button>
                </div>
            </div>
            <div class="col-xs-12 main-icon">
                <img src="../../../../assets/Logo-sin-fondo.png" alt="logo termok" width="108">
            </div>
            <div class="col-12 main-menu">
                <mat-toolbar>
                    <mat-toolbar-row>
                        <div class="container">
                            <div class="row between-xs middle-xs header-row">
                                <nav>
                                    <a mat-button routerLink="/home" routerLinkActive="active">Inicio</a>
                                    <a mat-button routerLink="/products" routerLinkActive="active">Comprar</a>
                                    <a mat-button routerLink="/contact" routerLinkActive="active">Videos</a>
                                    <a mat-button routerLink="/contact" routerLinkActive="active">Contactenos</a>
                                    <a mat-button routerLink="/contact" routerLinkActive="active">Cuenta</a>
                                </nav>    
                            </div>
                        </div>
                    </mat-toolbar-row>        
                </mat-toolbar>                
            </div>
        </div>
    </div>
</header>