<div class="social-networks">
    <div class="container">
        <h2></h2>
        <div class="row center-xs">
            <div class="col-xs-12 col-md-6">
                <img src="../../../../assets/img/redes-en-dispositivos.png" alt="imagen modelo" width="400px">
            </div>
            <div class="col-xs-12 col-md-6 info-networks">
                <h2>Siguenos en nuestras redes sociales y aprende más</h2>
                <div class="btn-redes">
                    <button>Facebook</button>
                    <button>Instagram</button>
                    <button>Whatsapp</button>
                </div>
            </div>
        </div>
    </div>
    <div class="vector-background"></div>
</div>

