<div class="social-networks">
    <div class="container">
        <div class="row center-xs">
            <div class="col-xs-12 col-sm-5">
                <img src="../../../../assets/img/redes-en-dispositivos.png" alt="imagen modelo">
            </div>
            <div class="col-xs-12 col-sm-7 info-networks">
                <h2>Siguenos en nuestras redes sociales y aprende más</h2>
                <div class="btn-redes">
                    <button mat-button class="btn-facebook">Facebook</button>
                    <button mat-button class="btn-instagram">Instagram</button>
                    <button mat-button class="btn-whatsapp"><mat-icon class="material-icons-outlined">whatsapp</mat-icon> Whatsapp</button>
                </div>
            </div>
        </div>
    </div>
</div>

