<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
        <mat-panel-title>
          Características de la faja
        </mat-panel-title>
        <mat-panel-description>
          Haz click para ver
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur doloribus assumenda animi, non iusto aliquam fuga accusamus quam, impedit molestias illo id alias in officiis velit repudiandae consectetur iste facilis?
      Nulla consectetur sint perspiciatis aliquid, deleniti possimus aspernatur sunt iure adipisci ipsam ducimus ab? Quia, accusantium laboriosam quos modi tempora repudiandae reprehenderit unde, et optio vel numquam. Soluta, ut adipisci.
      Iste accusantium aspernatur autem earum enim ipsa placeat dolores explicabo animi. Asperiores pariatur veritatis recusandae numquam possimus commodi, accusantium suscipit voluptates, tenetur vitae enim aliquam sit sed laborum, quidem quae!
      Reiciendis, nobis minus. Possimus praesentium unde dicta fugit, culpa eligendi facere dignissimos laboriosam tempora corporis adipisci eius voluptates earum nobis qui tenetur eveniet amet. Asperiores necessitatibus quae minima labore aliquam?
      Sed maiores labore nesciunt dolorum, deserunt cum numquam! Dolor aliquam pariatur porro, vitae error blanditiis quae atque omnis ipsa libero deleniti distinctio eius provident illo praesentium tenetur. Iste, harum veniam.
      Maxime necessitatibus rem perferendis molestiae culpa dolorum a praesentium voluptatibus nulla error consectetur velit, explicabo ullam laborum consequatur tenetur maiores soluta quam? Cupiditate deleniti delectus expedita tenetur perspiciatis sit nobis!
      Ipsum asperiores voluptatibus nostrum quibusdam natus hic similique, exercitationem dignissimos veritatis eius quas, omnis suscipit nemo maxime nobis qui sit aspernatur facere iusto? Voluptas placeat, debitis at nostrum doloremque fugit?
      Quis rerum sit in incidunt maiores officiis magni ea dolore, laudantium repellendus ut nisi accusantium aliquid nemo labore illo reiciendis consequatur temporibus consectetur et error! Minima excepturi consectetur placeat enim.
      Nemo soluta delectus quae nostrum, porro natus ex quibusdam cumque autem repellendus eius ducimus quisquam laboriosam voluptatem amet, esse eligendi consequuntur? Tenetur nemo magnam libero repudiandae maiores, nihil nisi quae?
      Possimus veritatis laboriosam cupiditate distinctio, at cumque sapiente nesciunt. Magni suscipit laudantium, nostrum id odio minus. Atque tempora enim repellendus vero optio libero fugit inventore facilis distinctio pariatur, blanditiis hic?</p>
    </mat-expansion-panel>
  </mat-accordion>