<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
        <mat-panel-title>
          Características de la faja
        </mat-panel-title>
        <mat-panel-description>
          Haz click para ver
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="twrap">
        <h3>Detalle de la faja</h3>
        <table>
          <tr><th>Material:</th><td>Neopreno</td></tr>
          <tr><th>Grosor:</th><td>3mm</td></tr>
          <tr><th>Colores:</th><td>Negro-Amarillo, Negro Rosa</td></tr>
          <tr><th>Tallas:</th><td>S-M, L-XL, 2XL-3XL (<a href="">ver tabla</a>)</td></tr>
          <tr><th>Descripción:</th><td>Es una faja realizada con material de neopreno el cual es una tipo de látex que permite que mientras moldea el cuerpo, también logre calentar con mayor rapidez la zona donde se esta trabajando, logrando que el cuerpo sude mas, así libere calorías y a su vez quemar grasas saturadas del cuerpo.</td></tr>
          <tr><th>Preguntas frecuentes:</th><td>
             <strong>¿En que forma viene?</strong><br>

            Esta faja viene en forma de cinturilla, logrando cubrir toda la zona abdominal, desde la pelvis hasta la parte inferior del pecho. <br>
            
            <strong>¿Como escoger la talla?</strong><br>
            
            Se recomienda escogerla de acuerdo a la talla de camisa que normalmente se usa, ya que el material permite moldear conforme a tu cuerpo.<br>
            
            <strong>¿Se puede usar bajo la ropa?</strong><br>
            
            Si, debido a que el material se adhiere a tu piel, bajo la ropa no se nota que la llevas puesta.<br>
            
            <strong>¿Viene con broches?</strong><br>
            
            Con el fin de que no se note nada al momento de que la uses bajo la camisa, la faja viene enteriza, no tiene broches ni cremallera.<br>
            
            <strong>¿Es un chaleco?</strong><br>

            No, no es un chaleco, su diseño es en forma de cinturilla<br>

            <strong>¿Como se debe poner?</strong><br>
            
            Para poner la faja debes ponertela desde abajo hacia arriba, es decir como si fuera un pantalón.<br>
            
            <strong>¿Se permiten cambios?</strong><br>
            
            Al ser una prenda de uso bastante personal, por lo cual ÚNICAMENTE se permite cambio por error de talla en los 3 días siguientes de la entrega del producto.<br>
          </td></tr>
        </table>
      </div>
      
    </mat-expansion-panel>
  </mat-accordion>