<div class="featured-videos">
    <div class="carousel">
        <h2>Videos Destacados</h2>
        <button aria-label="Anterior" class="carousel-anterior" (click)="prev()">
            <span class="material-icons-outlined">arrow_back_ios_new</span>
        </button>
        <div class="carousel-contenedor" #carouselContenedor>

            <div *ngFor="let imagePrev of imagenesPrev" class="carousel-lista">
                <mat-card class="video-card">
                    <img [src]="imagePrev.urlImage" width="100%" alt="">
                    <mat-card-header>
                        <mat-card-title>{{ imagePrev.title }}</mat-card-title>
                        <mat-card-subtitle>fecha de publicacion</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </div>
<!-- 
            <div *ngFor="let imagePrev of imagenesPrev" class="carousel-lista">
                <img [src]="imagePrev.urlImage" alt="imagen de carrusel">
            </div> -->

        </div>
        <button aria-label="Siguiente" class="carousel-siguiente" (click)="next()">
            <span class="material-icons-outlined">arrow_forward_ios</span>
        </button>

        <div class="carousel-indicadores">
            <div (click)="transformIndi1()" class="carousel-indicadores__item" id="ind1" #ind1></div>
            <div (click)="transformIndi2()" class="carousel-indicadores__item" id="ind2" #ind2></div>
            <div (click)="transformIndi3()" class="carousel-indicadores__item" id="ind3" #ind3></div>
        </div>
    </div>
</div>