<div class="shopping">
    <div class="container">
        <mat-stepper #stepper>
            <mat-step  errorMessage="Name is required." >
                <ng-template matStepLabel>Confirmar pedido</ng-template>          
                <div class="container talla-color">
                  <div class="row center-xs">
                    <div class="col-xs-12 col-sm-5">
                      <app-carrousel></app-carrousel>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                      <mat-card>
                          <mat-card-header>
                              <mat-card-title>Cinturilla Faja Termoreductora</mat-card-title>
                              <mat-card-subtitle>Confirma las cararteristicas de tu faja</mat-card-subtitle>
                          </mat-card-header>
                          <mat-card-content>
                      <!-- Opciones de color -->
                            <div>
                                <h4>1. Selecciona de que color deseas el interior de la faja</h4>
                                <div class="select-options">
                                  <!-- Color negro-rosa -->
                                  <input type="checkbox" id="checkColorRs">
                                  <label for="checkColorRs" class="bar-btn">
                                      <div class="color-circle rosa"  #circleColorRs (click)="optionRosa()"></div>
                                  </label>
                                  <!-- Color negro-amarillo -->
                                  <input type="checkbox" id="checkColorAm">
                                  <label for="checkColorAm" class="bar-btn">
                                      <div class="color-circle amar" #circleColorAm (click)="optionAmarillo()"></div>
                                  </label>
                                </div>                                            
                            </div>
                            <!-- Opciones de talla -->
                            <div>
                                <h4>2. Selecciona tu talla</h4>
                                <div class="tabla-tallas">
                                  <p style="color: #999595; font-size: .85rem;">Para ello puedes ver nuestra tabla de tallas</p>
                                  <!-- <img src="./" alt="tabla de tallas"> -->
                                </div>
                                <div class="select-options">
                                  <!-- Color negro-rosa -->
                                  <input type="checkbox" id="checkColorRs">
                                  <label for="checkColorRs" class="bar-btn">
                                      <div class="talla-circle" #circleTallaSM (click)="optionSM()">S-M</div>
                                  </label>
                                  <!-- Color negro-amarillo -->
                                  <input type="checkbox" id="checkColorAm">
                                  <label for="checkColorAm"  class="bar-btn">
                                      <div class="talla-circle" #circleTallaLXL (click)="optionLXL()">L-XL</div>
                                  </label>
                                  <!-- Color negro-amarillo -->
                                  <input type="checkbox" id="checkColorAm">
                                  <label for="checkColorAm" class="bar-btn">
                                      <div class="talla-circle" #circleTalla2XL3XL (click)="option2XL3XL()" tyle="font-size: .65rem;">2XL-3XL</div>
                                  </label>
                                </div>                                            
                              </div>
                              <div>
                                <h4>3. Selecciona la cantidad</h4>

                              </div>
                            </mat-card-content>
                        </mat-card>
                      </div>
                      <div class="col-xs-12">
                        <app-detail-product></app-detail-product>
                      </div>
                    </div>
                <button [disabled]="btnCtrl1" mat-raised-button matStepperNext>Next</button>
              </div>
            </mat-step>

            <!--Datos de envío -->
            <mat-step errorMessage="Address is required.">
              <form [formGroup]="formShipping" class="shipping">
                <ng-template matStepLabel>Datos de envío</ng-template>
                <div class="row center-xs">
                  <div class="col-xs-12 col-sm-7">
                    <mat-card>
                      <mat-card-header>
                        <mat-card-title>Datos de envío</mat-card-title>
                        <mat-card-subtitle>Los datos con * son obligatorios para la compra</mat-card-subtitle>
                      </mat-card-header>
                      <mat-card-content>
                        <div class="form-shipping">
                          <mat-form-field appearance="fill">
                            <mat-label>Nombre Completo</mat-label>
                            <input matInput formControlName="name">
                          </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>Direccion de envio</mat-label>
                            <input matInput formControlName="address">
                          </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>Ciudad o Municipio</mat-label>
                            <input matInput formControlName="location">
                          </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>Celular de contacto</mat-label>
                            <input matInput formControlName="cell">
                          </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>Correo electronico</mat-label>
                            <input matInput placeholder="email">
                          </mat-form-field>
                          <div>
                            <input type="checkbox" id="checkTC">
                            <label for="checkTC">Acepto que he leido y estoy de acuerdo con los <a routerLink="/">Terminos y condiciones</a> de la marca TermOk</label>
                          </div>
                        </div>
                      </mat-card-content>
                    </mat-card>
                  </div>
                  <div class="col-xs-12 col-sm-5">
                    <mat-card>
                      <mat-card-header style="background-color: #f3c21f">
                        <mat-card-title>Resumen del envío</mat-card-title>
                        <mat-card-subtitle>Estos son los datos de tu pedido</mat-card-subtitle>
                      </mat-card-header>
                      <img src="../../../../assets/img/imgFaja1.png" alt="">
                      <mat-card-content>
                        <div><b>Cinturilla Faja Termoreductora</b><hr></div>
                        <div><b>Color:</b> {{ buy.color || 'No haz seleccionado el color' }} <hr></div>
                        <div><b>Talla:</b> {{ buy.talla || 'No haz seleccionado la talla' }} <hr></div>
                        
                      </mat-card-content>
                    </mat-card>
                  </div>
                </div>                
                <div>
                  <p>Go to a different step to see the error state</p>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext type="submit">Siguiente</button>
                </div>
              </form>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Listo</ng-template>
              <p>You are now done.</p>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
              </div>
            </mat-step>
          </mat-stepper>
    </div>
</div>