.shopping{
    max-width: 100vw;

    .container, .container .row{
        max-width: 100vw;
    }
    .talla-color{

        mat-card{
            margin-top: 10px;
            height: 95%;
            padding: 0;
            background-color: #fafafa;
        }
        mat-card mat-card-header{
            margin-bottom: 10px;
            background-color: #f3c21f;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        mat-card mat-card-title{
            padding-top: 10px;
        }
        mat-card-content{
            padding: 20px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        mat-card mat-card-content p{
            color: #3a3a3a;
            font-size: .9rem;
            padding: 0 20px;
        }
        .select-options{
            display: flex;
            justify-content: center;
        }
        .select-options .check{
            display: none;
        }
        .select-options #checkColorAm:checked ~ .select-options .rosa{
            opacity: .8;
        }
        #checkColorAm:checked ~ .select-options .amar{
            opacity: 1;
        }
        mat-radio-group{
            background: none;
            
        }
        .select-options .color-circle{
            width: 25px;
            height: 25px;
            border-radius: 50%;
            margin: 0 10px 15px 10px;
            cursor: pointer;
            opacity: .4;
        }
        .select-options .rosa{
            background-color: #fa2360;
        }
        .select-options .amar{
            background-color: #f6be0c;
        }
        .talla-circle{
            width: 45px;
            height: 45px;
            border-radius: 50%;
            margin: 10px;
            cursor: pointer;
            background-color: #080808;
            color: #fff;
            line-height: 45px;
            opacity: .4;
        }
        #btnNext{
            margin-top: 20px;
            margin-left: 80%;
        }
        #cant{
            margin: 0;
            padding: 0 7px;
            font-size: 1.4rem;
            line-height: 40px;
        }
        .inputCant{
            margin-top: 10px;
            display: flex;
            justify-content: center;
            .inputCant-controls{
                display: flex;
                flex-direction: column;
                margin-left: 5px;
                button{
                    margin: 0;
                    padding: 0;
                    background: none;
                    border: none;
                }
                mat-icon{
                    font-size: 18px;
                    cursor: pointer;
                }
            }
        }
        
    }
    .shipping{
        mat-card{
            margin-top: 20px;
            padding: 20px 0;
            width: 85vw;
        }
        mat-card mat-card-header{
            padding: 10px 0;
            margin-bottom: 25px;
            background-color: #f55980;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        mat-card img{
            width: 200px;
            margin: 10px;
        }
        mat-card mat-card-subtitle{
            margin-bottom: 0;
        }
        mat-card-content .form-shipping{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        mat-form-field{
            width: 250px;
        }
        .termCond{
            max-width: 80vw;
            text-align: start;
            transition: all .5 linear;            
            p{
                margin-top: 10px;
                transition: all .5 linear;
                color: #e20c0c;
                font-weight: 600;
            }            
        }
        ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
            opacity: 0.03 !important;
            background-color: #f55980!important;
          }
        
        ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
            background-color: #f55980;
          }
        #total{
            font-size: 1.2rem;
            font-weight: 600;
            color: rgb(196, 4, 4);
        }
        hr{
            width: 80%;
        }
        
    }
}
