<div class="shopping">
    <div class="container">
        <mat-stepper linear #stepper>
            <!-- Confirmar compra -->
            <mat-step  [stepControl]="formConfirmOrder" errorMessage="Name is required." >
              <form [formGroup]="formConfirmOrder">
                <ng-template matStepLabel>Confirmar pedido</ng-template>          
                <div class="container talla-color">
                  <div class="row center-xs">
                    <div class="col-xs-12 col-sm-5">
                      <app-carrousel></app-carrousel>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                      <mat-card>
                          <mat-card-header>
                              <mat-card-title>Cinturilla Faja Termoreductora</mat-card-title>
                              <mat-card-subtitle>Confirma las cararteristicas de tu faja</mat-card-subtitle>
                          </mat-card-header>
                          <mat-card-content>
                      <!-- Opciones de color -->
                            <div>
                                <h4>1. Selecciona de que color deseas el interior de la faja</h4>
                                <div class="select-options">
                                  <!-- Color negro-rosa -->
                                  <input formControlName="color" type="checkbox" class="check" id="checkColorRs">
                                  <label for="checkColorRs" class="bar-btn">
                                      <div class="color-circle rosa"  #circleColorRs (click)="optionRosa()"></div>
                                  </label>
                                  <!-- Color negro-amarillo -->
                                  <input formControlName="color" type="checkbox" class="check" id="checkColorAm">
                                  <label for="checkColorAm" class="bar-btn">
                                      <div class="color-circle amar" #circleColorAm (click)="optionAmarillo()"></div>
                                  </label>
                                </div>                                            
                            </div>
                            <!-- Opciones de talla -->
                            <div>
                                <h4>2. Selecciona tu talla</h4>
                                <div class="tabla-tallas">
                                  <p style="color: #999595; font-size: .85rem;">Para ello puedes ver nuestra tabla de tallas</p>
                                  <!-- <img src="./" alt="tabla de tallas"> -->
                                </div>
                                <div class="select-options">
                                  <!-- Color negro-rosa -->
                                  <input formControlName="size" type="checkbox" class="check" id="sizeS-M">
                                  <label for="checkColorRs" class="bar-btn">
                                      <div class="talla-circle" #circleTallaSM (click)="optionSM()">S-M</div>
                                  </label>
                                  <!-- Color negro-amarillo -->
                                  <input formControlName="size" type="checkbox" class="check" id="sizeS-M">
                                  <label for="checkColorAm"  class="bar-btn">
                                      <div class="talla-circle" #circleTallaLXL (click)="optionLXL()">L-XL</div>
                                  </label>
                                  <!-- Color negro-amarillo -->
                                  <input type="checkbox" formControlName="size" class="check" id="sizeS-M">
                                  <label for="checkColorAm" class="bar-btn">
                                      <div class="talla-circle" #circleTalla2XL3XL (click)="option2XL3XL()" tyle="font-size: .65rem;">2XL-3XL</div>
                                  </label>
                                </div>                                            
                              </div>
                              <div>
                                <h4>3. Selecciona la cantidad</h4>
                                  <div  class="inputCant">
                                    <P id="cant">{{ orders.cant }}</P>
                                    <div class="inputCant-controls">
                                      <mat-icon class="material-icons-outline" (click)="addCant()">add_circle_outline</mat-icon>
                                      <button [disabled]="btnLessCtrl" (click)="lessCant()"><mat-icon class="material-icons-outline" >remove_circle_outline</mat-icon></button>                                      
                                    </div>
                                  </div>
                              </div>
                            </mat-card-content>
                        </mat-card>
                      </div>
                      <div class="col-xs-12">
                        <app-detail-product></app-detail-product>
                      </div>
                    </div>
                <button id="btnNext" [disabled]="btnCtrl1" mat-raised-button matStepperNext>Next</button>
              </div>
              </form>
            </mat-step>
            <!--Datos de envío -->
            <mat-step [stepControl]="formShipping" errorMessage="Faltan datos de envío">
              <form [formGroup]="formShipping" class="shipping">
                <ng-template matStepLabel>Datos de envío</ng-template>
                <div class="row center-xs">
                  <div class="col-xs-12 col-sm-7">
                    <mat-card>
                      <mat-card-header>
                        <mat-card-title>Datos de envío</mat-card-title>
                        <mat-card-subtitle>Los datos con * son obligatorios para la compra</mat-card-subtitle>
                      </mat-card-header>
                      <mat-card-content>
                        <div class="form-shipping">
                          <mat-form-field appearance="fill">
                            <mat-label>Nombre Completo</mat-label>
                            <input matInput formControlName="name">
                          </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>Direccion de envio</mat-label>
                            <input matInput formControlName="address">
                          </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>Ciudad o Municipio</mat-label>
                            <input matInput formControlName="location">
                          </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>Celular de contacto</mat-label>
                            <input matInput formControlName="cell">
                          </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>Correo electronico</mat-label>
                            <input matInput formControlName="email">
                          </mat-form-field>
                          <div class="termCond">
                            <mat-checkbox formControlName="TermCond">Acepto que he leido y estoy de acuerdo <br> con los <a routerLink="/">Terminos y condiciones</a> de la marca.</mat-checkbox>
                            <p *ngIf="formShipping.get('TermCond')?.hasError('required') && formShipping.get('TermCond')?.touched || tmValidForNext">*Para continuar debes aceptar términos y condiciones</p>
                          </div>
                        </div>
                      </mat-card-content>
                    </mat-card>
                  </div>
                  <div class="col-xs-12 col-sm-5">
                    <mat-card>
                      <mat-card-header style="background-color: #f3c21f">
                        <mat-card-title>Resumen del envío</mat-card-title>
                        <mat-card-subtitle>Estos son los datos de tu pedido</mat-card-subtitle>
                      </mat-card-header>
                      <img src="../../../../assets/img/imgFaja1.png" alt="">
                      <mat-card-content>
                        <div style="font-size: 1.2rem;"><b>Cinturilla Faja Termoreductora</b><hr></div>
                        <div><b>Color:</b> {{ orders.color || 'No haz seleccionado el color' }} <hr></div>
                        <div><b>Talla:</b> {{ formConfirmOrder.controls['size'].value || 'No haz seleccionado la talla' }} <hr></div>
                        <div><b>Cantidad:</b> {{ formConfirmOrder.controls['cant'].value }} <hr></div>
                        <div><b>Metodo de pago:</b> Contraentrega<hr></div>
                        <div id="total">Total a pagar: {{ 29900 * orders.cant | currency}}<hr></div>
                      </mat-card-content>
                    </mat-card>
                  </div>
                </div>                
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext type="submit" (click)="tmValid()">Siguiente</button>
                </div>
              </form>
            </mat-step>
            <!-- Terminar pedido -->
            <mat-step>
              <ng-template matStepLabel>Terminar</ng-template>
              <app-result-order></app-result-order>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
              </div>
            </mat-step>
          </mat-stepper>
    </div>
</div>