*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Heebo', sans-serif; */
}
header{
    background-color: #090909;
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-principal{
    background-image: url('../../assets/icons/logo-blanco-80x80.png');
    background-size: cover;
    width: 85px;
    height: 85px;
    margin: .5px 0;
    cursor: pointer;
}
.logo-principal a{
    width: 100%;
    height: 150px;
    display: block;
    margin:0;
    padding:0;
    z-index: 5;
    text-decoration: none;
}
/* --------------DISEÑO SLIDER ---------------------------*/
.main-container{
    width: 100%;
    overflow: hidden;
    
    position: relative;
}
.slider-container{
    width: 100%;
    height: 85vh;
    display: flex;
    
}
.slider-items{
    color: #ffffff;
    background-image: url('../../assets/images/slider1-movil.png');
    background-repeat: no-repeat;
    background-position-x:center;
    background-position-y: bottom;
    background-size: cover;

    width: 100%;
    height: 84.21vh;
    padding: 0 20px;
    display: flex;
    flex-shrink: 0;    
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    
}
.info-slider{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#imgFajaPrincipal{
    width: 98.66vw;
    height: auto;
    margin-top: 4vh;
    margin-bottom:9.5vh;
}
.info-slider__text{
    width: 100%;
    text-shadow: -4px 4px 4px #444444;  
}
.info-slider__text h2{
    font-size: 2.5rem; 
    margin-bottom: 2vh;
    line-height: 1.15;  
}
.info-slider__text p{
    font-size: 1.5rem;
    margin-bottom: 5%;
}
.btnConocermas{
    padding: 3px 7px;
    margin-top: 0;
    margin: 5px;
    border: solid 1px #fff;
    border-radius: 5px;
    text-decoration: none;
    background-color: #f6be0c;
    color: #fff;
    font-size: 2rem;
    text-shadow: -2px 2px 2px #1d1d1d;
    transition: .7s; 
}
.btnConocermas:hover{
    font-size: 2.5rem;
    transition: .7s;
}
.slider-items:nth-child(2){
    background-image: url('../../assets/images/slider2-movilD.png');
    background-repeat: no-repeat;

}
#imgPaySlider{
    width: 220px;
    margin-top: 6vh;
    margin-bottom: 5.5vh;
}
.info-slider__text:nth-child(2) img{
    width: 87.5vw;
}
.slider-items:nth-child(2) h2{
    font-size: 2.2rem;
}
.slider-items:nth-child(3){
    background-image: url('../../assets/images/slider3-movilD.png');
    background-repeat: no-repeat;
}

.slider-items:nth-child(3) h2{
    font-size: 3.3rem;
}
.slider-items:nth-child(3) img{
    width: 94vw;
    margin-top: 20px;
    margin-bottom: 7.5vh;
}
.slider-items:nth-child(4){
    background-image: url('../../assets/images/slider4-movil.png');
    background-repeat: no-repeat;
    background-position-x:center;
}
.slider-items:nth-child(4) img{
    width: 99vw;
    margin-top: 50px;
}
#logo-redes{
    width:10.93vw;
    margin: 0 15px;
}
.right-arrow{    
    position: absolute;
    top: 210px;
    right: 0;
    
    width: 20px;
    margin-right: 20px;
    cursor: pointer;
    opacity: 0;
    transition: 1s;
}
.right-arrow:hover{
    opacity: 1;
    transition: 1s;
}
.left-arrow{    
    position: absolute;
    left: 0;
    top: 210px;

    width: 20px;
    margin-left: 20px;
    cursor: pointer;
    opacity: 0;
    transition: 1s;
}
.left-arrow:hover{
    opacity: 1;
    transition: 1s;
}
/* --------------ARTICLES ---------------------------*/
.articles{
    width: 100%;
    padding-top: 40px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    background-color: #f8f2f2;
}
.articles-items{
    display: flex;
    flex-direction: column;
}
.articles h2{
    margin-bottom: 20px;

    text-align: center;
    font-size: 2.4rem;
    text-shadow: -2px 2px 2px #b2aeae;
}
.articles article{
    width: 97.66vw;
    min-height: 170px;
    margin: 10px 5px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

    display: flex;
    box-shadow: -3px 4px 4px #b2aeae;
}
.articles-info{
    width: 100%;
    padding: 10px;
    
    border: solid #b2aeae 1px;
    background-color: #ede4e4;

    text-align: center;
}
.articles-info h3{
    font-size: 2.1rem;
    text-shadow: -2px 2px 2px #b2aeae;
}
.articles-info p{
    font-size: 1.2rem;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #676767;
}
.articles-info .verMas{
    padding: 3px 5px;
    border: solid #fa2360 1px;
    border-radius: 15px;   
    
    background-color: #fa2360;
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    transition: 1s;
}
.articles-info .verMas:hover{
    font-size: 1.5rem;
    transition: 1s;
}
.articles article img{
    width: 150px;
    height: 100%;
}
/* -------------------- OPTION PAY ----------------------------*/

.OptionPay{
    width: 100%;
    height: 250px;

    background-image: url('../../assets/images/payZone.png');
    background-repeat: no-repeat;
    background-position-x: center;
    position: relative;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.OptionPay img{
    height: 250px;
    position: absolute;
    left: -40px;
}
.info-optionPay{
    width: 50%;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-optionPay h2{
    text-align: center;
    font-size: 2.3rem;

    text-shadow: -2px 2px 2px #d6ced0;    
}
.info-optionPay a{
    margin-top: 15px;
    padding: 3px 7px;

    font-size: 1.5rem;
    color: #fff;
    border: solid 1px #fff;
    border-radius: 5px;
    text-decoration: none;
    background-color: #f6be0c;
    text-shadow: -2px 2px 2px #1d1d1d;
}
/* -------------------- CHARACTERISTICS BRAND ----------------------------*/

.CharacteristicsBrand{
    background-color: #1b1818;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CharacteristicsBrand-items{
    width: 80%;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-bottom: #353434 solid .5px;
}
.CharacteristicsBrand-items:nth-child(3){
    border-bottom: none;
    margin-bottom: 30px;
}
.CharacteristicsBrand-items img{
    width: 100px;
    margin-top: 40px;
    margin-bottom: 18px;
}
.CharacteristicsBrand-items__info{
    text-align: center;
}
.CharacteristicsBrand-items h3{
    font-size: 2.2rem;
    color: #fff;
}
.CharacteristicsBrand-items p{
    margin: 10px 0;
    text-align: center;
    font-size: 1.3rem;
    color: #fff;
}
.CharacteristicsBrand-items a {
    text-decoration: none;
    color: #f6be0c;
}
/* -------------------- FOOTER ----------------------------*/
footer{
    background-color: #090909;
    text-align: center;
    color: #fff;
    padding: 3px 0;
}

@media screen and (min-width:375px){
    .info-optionPay h2{
        font-size: 3rem;
    }
    .info-optionPay a{
        font-size: 1.8rem;
    }
}

