/* --------------DISEÑO SLIDER ---------------------------*/
.slider-container, .slider-items{
    height: 450px;
}

.info-slider__text{
    width: 60%;
    margin-bottom: 40px;
}
.info-slider{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
}
.slider-items:nth-child(1){
    background-image: url('../utils/imagenes/slider1-tablet.png');
    background-position: center;
    justify-content: flex-end 
}
.slider-items:nth-child(1) .info-slider{
    justify-content: flex-end;
    align-items: flex-end;
    text-align: end;
}
#imgFajaPrincipal{
    width: 400px;
    margin-top: 15px;
    margin-bottom: 30px;
}
.slider-items:nth-child(2){
    background-image: url('../utils/imagenes/slider2-tablet.png');        
}
#imgPaySlider{
    width: 200px;
    margin-bottom: 10px;
    margin-left: 50px;
}
.info-slider__text:nth-child(2) img{
    width: 400px;
}
.slider-items:nth-child(3){
    background-image: url('../utils/imagenes/slider3-tablet.png');
    background-position: center;
}
.slider-items:nth-child(3) img{
    width: 270px;
    margin-bottom: 4.5vh;
}
.slider-items:nth-child(4){
    background-image: url('../utils/imagenes/slider4-tablet.png');
    background-position: center;       
}
.slider-items:nth-child(4) img{
    width: 350px;
    margin-top: 10px;
}
#logo-redes{
    width: 40px;
}

/* --------------ARTICLES ---------------------------*/
.articles{
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.articles h2{
    width: 70%;
    font-size: 2.7rem;
}
.articles-items{
    width: 100%;
    margin-bottom: 40px;
    flex-direction: row;
    justify-content: space-around;
}
.articles article{
    width: 31.15%;
    max-width: 210px;
    height: 363px;
    display: block;
    border-bottom-left-radius:0;
}
.articles article img{
    width: 100%;
    height: 44.57%;
}
.articles-info{
    height: 200px;
    border-top: none;
}
.articles-info p{
    margin: 10px 0;
}
/* -------------------- OPTION PAY ----------------------------*/
.OptionPay{
    background-image: url('../utils/imagenes/payZone-tablet.png');
    background-size: cover;
}
.OptionPay img{
    left: 0;
}
.info-optionPay{
    width: 60%;
    margin-right: 30px;
}
.info-optionPay h2{
    font-size: 3.2rem;
}
/* -------------------- CHARACTERISTICS BRAND ----------------------------*/
.CharacteristicsBrand{
    padding-top: 20px;
    flex-direction: row;
}
.CharacteristicsBrand-items:nth-child(3){
    margin-bottom: 0;
}
.CharacteristicsBrand-items__img{
    width: 150px;  
    margin-top: 30px;
    margin-bottom: 20px;

    display: flex;
    justify-content: center;
}
.CharacteristicsBrand-items img{
    margin: 0;
    width: 120px;
}
.CharacteristicsBrand-items__info{
    width: 100%;
    height: 107px;
}